name: Generate ASCII
on:
  push:

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List repo files
        run: ls -ltra

      - name: Run script
        run: |
          chmod +x ascii-script.sh
          ./ascii-script.sh