name: My First Workflow
on:
  push:

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Welcome message
        run: |
          echo "My first github action job"
          ls
          cat README.md

      - name: Generate ASCII artwork
        run: cowsay -f dragon "Run for cover.. I AM A DRAGON!! RAWRRRR!!" >> dragon.txt

      # - name: List files
      #   run: ls

      # - name: Read file
      #   run: cat README.md
